# Only for Docker Deployment

BOT_TOKEN=7907746863:AAHeBCfQm04dW4IvFLG_XhFsbsFOl7Cx4do # Get it from @botfather

API_ID=25305140

API_HASH=6d19044c96341ccb3da294f878df7659 

SUDO_USERS_ID= 1432756163, 1344569458, 1355478165, 1789859817,  7187126565,# Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1004829835915

GBAN_LOG_GROUP_ID=-1004829835915

MESSAGE_DUMP_CHAT=

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://luffyontop:luffy@cluster0.hgkfgjc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

